<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <meta name="viewport" content="user-scalable=0">

    <title>无标题文档</title>
    <link href="css/css.css" rel="stylesheet" type="text/css"/>


</head>

<body ng-controller="panelController">
<div class="box">
    <div class="top">自行车租赁系统</div>
    <div class="top_info">
        <div class="head_img"><img src="img/head.png"/></div>
        <div class="head_phone">{{user.phone_num}}</div>
    </div>
    <div class="list_div">
        <!---积分(づ｡◕‿‿◕｡)づ---->
        <div class="list_div01">
            <div class="list_lr"></div>
            <div class="list01">
                <div class="list01_left"></div>
                <div class="list01_mid">
                    <div class="mid_title">积分</div>
                    <div class="mid_cent">
                        <div class="mid_cent_up">已骑行{{user.total_mileage}}公里</div>
                        <div class="mid_cent_down">已使用{{user.total_time/60.0|number : 2}}小时</div>
                    </div>
                    <div class="mid_nub">{{user.point}}</div>
                </div>
                <div class="list01_right"></div>
                </div>
            <div class="list_lr"></div>
        </div>
        <!---余额o(一︿一+)o---->
        <div class="list_div01">
            <div class="list_lr"></div>
            <div class="list01">
                <div class="list01_left"></div>
                <div class="list01_mid">
                    <div class="mid_title">余额</div>
                    <div class="mid_cent">
                        <div class="mid_cent_up">可骑行1000公里</div>
                        <div class="mid_cent_down">可使用100小时</div>
                    </div>
                    <div class="mid_nub">{{user.balance}}</div>
                </div>
                <div class="list01_right"></div>
                </div>
            <div class="list_lr"></div>
        </div>
        <!---分隔线(*￣3￣)╭---->
        <div class="list_div02"></div>
        <!---自行车列表╭(′▽`)╭(′▽`)╯---->


        <div class="list_div01" ng-repeat="bike in nearCars|orderBy:'distance'">
            <div class="list_lr"></div>
            <div class="list01">
                <div class="list02_left"><img src="img/left_img.jpg"/></div>
                <div class="list02_cent">
                    <div class="list02_up">
                        <div class="list02_title">车号：{{bike.bid}}</div>
                        <div class="list02_meter">距离：{{bike.distance * 1000|number : 0}}m</div>
                    </div>
                    <div class="list02_up">
                        <div class="list02_icon"><img src="img/icon01.png" width="30" height="30"/></div>
                        <div class="list02_add">{{bike.address|limitTo:-18}}</div>
                    </div>
                    <div class="list02_down">
                        <div class="list02_word">剩余电量：{{bike.power}}%</div>
                    </div>
                </div>
                <div class="list02_right" ng-click="openOrderModal(bike)">预订</div>
            </div>
            <div class="list_lr"></div>
            </div>


    </div>
    </div>


<!--loading 折照区-->
<div class="loading" ng-show="user_load_ok==false"><img src="img/loading.png" alt="" width="50" height="50"
                                                        class="loading"/>
</div>


<!--底部菜单-->
<div style="height: 140px"></div>
<nav id="bottom-nav">
    <div class="row">
        <div class="col-xs-3 col-sm-3">
            <a href="javascript:;" ng-click="QRScanOrder()"><span
                    class="bottom-nav-img glyphicon glyphicon-qrcode"></span>
                <span class="bottom-nav-title">扫一扫</span></a>
        </div>

        <div class="col-xs-3 col-sm-3">
            <a href="javascript:;" onclick="$('.searchModal').fadeIn(500)"><span
                    class="bottom-nav-img glyphicon glyphicon-search"></span>
                <span class="bottom-nav-title">搜索</span></a>
        </div>

        <div class="col-xs-3 col-sm-3">
            <a href="recharge.html"><span class="bottom-nav-img glyphicon glyphicon-star"></span>
                <span class="bottom-nav-title">充值</span></a>
        </div>

        <div class="col-xs-3 col-sm-3">
            <a href="bikeInfo.html"><span class="bottom-nav-img glyphicon glyphicon-ok"></span>
                <span class="bottom-nav-title">我的车</span></a>
        </div>

    </div>
</nav>

<!--定单对话框-->
<div class="shadow orderModal" style="display: none">
    <div class="shadow-cont">
        <h1>订购车辆信息</h1>

        <div class="shadow-info">
            <p>你确定要预定 编号：{{selectBike.bid}}
            </p>

        </div>
        <div class="shadow-btn">
            <a href="javascript:;" class="btn btn-primary" onclick="$(this).parents('.shadow').fadeOut('fast')">关闭</a>
            <a href="javascript:;" class="btn btn-primary" ng-click="bikeOrder(selectBike.bid)">确认预订</a>
            </div>
        </div>
    </div>


<!--过滤条件对话框-->
<div class="shadow searchModal" style="display: none">
    <div class="shadow-cont">
        <h1>设置过滤条件</h1>

        <div class="shadow-info">
            <label>车辆距离：</label>
            <input type="text" id="balance" style="width: 10%" name="balance" ng-model="search.distance"
                   placeholder="距离"/>米
            </div>
        <div class="shadow-btn">
            <a href="javascript:;" class="btn" onclick="$(this).parents('.shadow').fadeOut()">关闭</a>
            <a href="javascript:;" class="btn" ng-click="searchBike()">搜索</a>
            </div>
        </div>
    </div>
</body>

<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script charset="utf-8" src="http://map.qq.com/api/js?v=2.exp&libraries=convertor"></script>
<script src="js/lib/angular/angular.min.js"></script>
<script src="js/utile/commonUtils.js"></script>
<script src="js/app.js"></script>
<script src="js/service/bikeService.js"></script>
<script src="js/service/userService.js"></script>
<script src="js/service/geoService.js"></script>
<script src="js/service/wxService.js"></script>
<script src="js/ctrl/panleCtrl.js"></script>

</html>
